body {
  margin: 0;
  font-family: "Pixelify Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pixelify Sans";
  src: url("./assets/fonts/PixelifySans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pixelify Sans";
  src: url("./assets/fonts/PixelifySans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pixelify Sans";
  src: url("./assets/fonts/PixelifySans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Pixelify Sans";
  src: url("./assets/fonts/PixelifySans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.MuiTypography-root {
  font-family: "Pixelify Sans", Arial, sans-serif !important;
}

.MuiCard-root {
  font-family: "Pixelify Sans", Arial, sans-serif !important;
}

.MuiButton-root {
  font-family: "Pixelify Sans", Arial, sans-serif !important;
}

.MuiInputBase-root {
  font-family: "Pixelify Sans", Arial, sans-serif !important;
}

.MuiInputBase-input {
  font-family: "Pixelify Sans", Arial, sans-serif !important;
}

.MuiInputBase-input::placeholder {
  font-family: "Pixelify Sans", Arial, sans-serif !important;
}

.MuiFormLabel-root {
  font-family: "Pixelify Sans", Arial, sans-serif !important;
}

:root {
  --darkGreen: #149c68;
  --vibrantGreen: #38c958;
  --lightYellow: #aee637;
  --lightBeige: #fffedb;
  --mediumBeige: #d1b29d;
  --back: #fcfcf2;
  --text: black;
}

.dark {
  --darkGreen: #0f7a4d;
  --vibrantGreen: #2faf70;
  --lightYellow: #2faf70;
  --lightBeige: #b0a08e;
  --mediumBeige: #9a8a6b;
  --back: #212120;
  --text: white;
}
